@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@400;700&display=swap');

* {
    margin: 0;
    padding: 0;
}

html,
body {
    overflow: hidden;
}

.webgl {
    position: fixed;
    top: 0;
    left: 0;
    outline: none;
}

.title {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    font-size: 10vh;
    pointer-events: none;
    font-family: 'Amatic SC', cursive;
    font-display: swap;
    text-shadow: 2px 1px 8px rgba(0, 0, 0, .89);
}

.menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 20px;
    left: 20px;
    width: 40px;
    height: 40px;
    cursor: pointer;
}

.menu .bar {
    width: 60%;
    height: 2px;
    margin-bottom: 3px;
    background: #fff;
}

.credits {
    position: absolute;
    bottom: 20px;
    right: 20px;
    color: #fff;
    text-align: right;

    font-family: 'Amatic SC', cursive;
    font-weight: 200;
}

.credits a {
    color: #fff;
}

.credits a:hover {
    color: whitesmoke;
    transition: color .21s;
}